@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;



.chatbot {
  position: fixed;
  background-color: $white;
  box-shadow: 0 8px 16px -8px $black;
  overflow: hidden;
  width: 100%;

  &__container {
    @include tablet {
      display: flex;
      flex-direction: column;
      position: fixed;
      width: 100%;
      z-index: 999;
    }
  }

  @include tablet {
    width: 17.1875rem;
    height: 28.125rem;
    border-radius: 0.625rem;
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: $grey2;
  }

  &__logo {
    display: flex;
    justify-content: flex-start;
    width: 6.25rem;
    height: 6.25rem;
    margin-right: auto;
  }

  &__button-down {
    width: 6.25rem;
    height: 5rem;

    &:hover {
      cursor: pointer;
      background-color: $grey2;
    }
  }

  &__categories {
    padding: 0.5rem;
  }

  &__category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: $grey1;
    border: 1px solid $grey1;
    margin: 0.25rem;
    border-radius: 20px;
    height: 2.5rem;
    font-size: 0.75rem;

    &:hover {
      cursor: pointer;
      background-color: $black;
      color: $white;
    }

    @include tablet {
      font-size: 1rem;
      height: 3rem;
    }
  }

  &__questions {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
  }
  &__question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $grey1;
    border: 1px solid $grey1;
    margin: 0.25rem;
    border-radius: 20px;
    height: 2.5rem;
    font-size: 0.75rem;

    &:hover {
      cursor: pointer;
      background-color: $black;
      color: $white;
    }

    &:active {
      background-color: $black;
    }

    @include tablet {
      font-size: 1rem;
      height: 3rem;
    }
  }

  &__answer {
    padding: 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 3rem;

    @include tablet {
      top: 26.5rem;
      left: 0.5rem;
    }
  }

  &__label {
    padding-bottom: 1rem;
    color: $blue1;
    font-size: 0.75rem;

    @include tablet {
      display: flex;
      font-size: 1rem;
    }

    &--tablet {
      display: none;

      @include tablet {
        display: flex;
        color: $blue1;
        padding: 0.5rem;
        font-size: 1rem;
      }
    }
  }

  &__back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    color: $blue1;
    border: 1px solid $grey1;
    margin: 0.25rem;
    border-radius: 20px;
    height: 2.5rem;
    font-size: 0.75rem;

    &:hover {
      cursor: pointer;
      background-color: $black;
      color: $white;
    }

    @include tablet {
      width: 100%;
      font-size: 1rem;
    }
  }

  &__tell-more {
    text-decoration: none;
    color: $blue1;

    &:hover {
      color: $blue3;
    }
  }

  &__input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    @include tablet {
      padding-bottom: 1rem;
    }
  }
  &__input {
    width: 100%;
    padding: 0.5625rem 0.25rem 0.5625rem 2.5rem;
    background-color: $white;
    border: 0.5px solid $grey1;
    border-radius: 1rem;
    box-shadow: $grey2 0px 1px 1px 0px;
    display: block;
    background: url("../../assets/images/icons/voice.png");
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: right 10px center;

    &:focus {
      outline: none;
      border: 2px solid $grey1;
    }

    @include tablet {
      margin-bottom: 1rem;
    }
  }

  &__enter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 1rem;
    height: 1rem;
  }

  &__right {
    width: 2rem;
  }
}

#chatbot {
    z-index: 999;
  position: fixed;
  bottom: 1rem;
  background-color: $white;
  box-shadow: 0 8px 16px -8px $black;
  overflow: hidden;
  width: 100%;
  height: 70%;

  @include tablet {
    max-width: 80rem;
    position: absolute;
    width: 21.875rem;
    height: 28.125rem;
  }
  
  @include desktop{
    margin: auto;
    margin-top: 1rem;
  }
}
