// Media Query Sizes
$tablet: 768px;
$desktop: 1280px;

// Google's Colors
$blue1: #4285f4;
$blue2: #00a1f1;
$green1: #34a853;
$green2: #7cbb00;
$yellow1: #fbbc05;
$yellow2: #ffbb00;
$red1: #ea4335;
$red2: #f65314;

// Other Colors
$grey1: rgb(224, 224, 224);
$grey2: rgba(150, 143, 143, 0.15);
$white: #ffff;
$black: rgba(0, 0, 0, 0.4);