// Media Query Sizes 
$tablet: 768px;
$desktop: 1280px;

// Google's Colors
$blue1: #4285F4;
$blue2: #00A1F1; 
$green1: #34A853;
$green2: #7CBB00;
$yellow1:#FBBC05;
$yellow2: #FFBB00;
$red1: #EA4335;
$red2: #F65314;


// Other Colors