@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;

.aiwidget {
  &__container {
    position: fixed;
    top: 25%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    transform: translateY(-50%);
    z-index: 999;

    @include tablet {
      max-width: 80rem;
    }

    @include desktop {
      margin: auto;
    }
  }

  &__button {
    &--mobile {
      color: transparent;
      background: url("../../assets/images/icons/chat-blue.svg");
      background-repeat: no-repeat;
      background-position: right 10px center;
      border-radius: 20px;
      @include tablet {
        display: none;
      }
    }

    &--tablet {
      display: none;
      @include tablet {
        display: block;
        border-radius: 20px;
        padding: 0.5rem 1rem;
        width: 7rem;
        border: 1px solid $black;
        display: flex;
        justify-content: flex-end;
        align-self: center;
        margin-left: 2rem;
        background: url("../../assets/images/icons/chat-blue.svg");
        background-repeat: no-repeat;
        background-position: right 10px center;
      }
    }
  }
}
