@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;

.aiwidget {
  &__tooltip {
    display: none;
    position: absolute;
    transform: translateX(-50%);
    background-color: $blue1;
    color: $white;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 0.75rem;
    border-radius: 20px;
    z-index: 1;

    // Visibility on hover
    .aiwidget__container:hover & {
      display: block;
      margin-right: 5rem;
    }
  }

  &__container {
    position: fixed;
    top: 25%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    transform: translateY(-50%);
    z-index: 999;

    @include tablet {
      max-width: 80rem;
    }

    @include desktop {
      margin: auto;
    }
  }

  &__button {
    &--mobile {
      color: transparent;
      background: url("../../assets/images/icons/chat-blue.svg");
      background-repeat: no-repeat;
      background-position: right 10px center;
      border-radius: 20px;
      @include tablet {
        display: none;
      }
      &.hovered {
        background-image: url("../../assets/images/icons/chat-green.svg");
      }
    }

    &--tablet {
      display: none;
      @include tablet {
        display: block;
        border-radius: 20px;
        padding: 0.5rem 1rem;
        width: 7rem;
        border: 1px solid $black;
        display: flex;
        justify-content: flex-end;
        align-self: center;
        margin-left: 2rem;
        background: url("../../assets/images/icons/chat-blue.svg");
        background-repeat: no-repeat;
        background-position: right 10px center;
      }
      &.hovered {
        background-image: url("../../assets/images/icons/insight-green.svg");
      }
      
    }
  }
}
