@use "../../styles/partials/variables" as *;
@use "../../styles/partials/_resets" as *;
@use "../../styles/partials/_mixins" as *;

.chatbox {
  position: fixed;
  right: 20px;
  bottom: 0;
  width: 300px;
  //border: 1px solid #ccc;
  // border-radius: 8px;
  overflow: hidden;
  transition: width 0.3s ease;
  //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  &__img {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    margin-left: 15rem;
    @include tablet {
      // margin-bottom: 200px;
    }
    @include desktop {
      margin-bottom: 0;
    }
  }
}
