@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;

.chatbot {
  position: fixed;
  background-color: $white;
  box-shadow: 0 8px 16px -8px $black;
  overflow: hidden;
  width: 100%;

  @include tablet {
    max-width: 80rem;
  }

  @include desktop {
    margin-right: auto;
  }

  &__container {
    @include tablet {
      display: flex;
      flex-direction: column;
      position: fixed;
      width: 100%;
      z-index: 999;
    }
  }

  @include tablet {
    width: 17.1875rem;
    height: 28.125rem;
    border-radius: 0.625rem;
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: $grey2;
  }

  &__logo {
    display: flex;
    justify-content: flex-start;
    width: 6.25rem;
    height: 6.25rem;
    margin-right: auto;
  }

  &__button-down {
    width: 6.25rem;
    height: 5rem;

    &:hover {
      cursor: pointer;
      background-color: $grey2;
    }
  }

  &__categories {

  }

  &__category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: $grey1;
    border: 1px solid $grey1;
    margin: 0.25rem;
    border-radius: 20px;
    height: 2.5rem;
    font-size: .75rem;

    &:hover {
      cursor: pointer;
      background-color: $grey2;
    }

    &:active {
      background-color: $black;
    }
  }

  &__questions {
    display: flex;
    flex-direction: column;
    padding-right: 5rem;
  }

  &__question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: $grey1;
    border: 1px solid $grey1;
    margin: 0.25rem;
    border-radius: 20px;
    height: 2.5rem;
    font-size: .75rem;

    &:hover {
      cursor: pointer;
      background-color: $grey2;
    }

    &:active {
      background-color: $black;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding-top: 17em;

    @include tablet {
      // padding: 6.5rem .5rem;
    }
  }

  &__label {
    padding-bottom: 1rem;
    color: $blue1;

    @include tablet {
      display: none;
    }

    &--tablet {
      display: none;

      @include tablet {
        display: flex;
        color: $blue1;
        padding: .5rem;
      }
    }
  }

  &__input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    @include tablet {
      padding-bottom: 1rem;
    }
  }
  &__input {
    width: 100%;
    padding: 0.5625rem 0.25rem 0.5625rem 2.5rem;
    background-color: $white;
    border: 0.5px solid $grey1;
    border-radius: 1rem;
    box-shadow: $grey2 0px 1px 1px 0px;
    display: block;

    // add voice assistant icon
    background: url("../../assets/images/icons/search-24px.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
  }

  &__enter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 1rem;
    height: 1rem;
    &:hover {
      cursor: pointer;
      background-color: $grey2;
    }
  }
  &__right {
    // width: 1.5625rem;
  }
}

#chatbot {
  position: fixed;
  bottom: 1rem;
  background-color: $white;
  box-shadow: 0 8px 16px -8px $black;
  overflow: hidden;
  width: 100%;
  height: 70%;

  @include tablet {
    width: 17.1875rem;
    height: 28.125rem;
    max-width: 80rem;
  }

  @include desktop {
    margin: auto;
  }
}
