@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $white;

  @include tablet {
    flex-direction: row;
  }

  @include desktop{
    max-width: 80rem;
    margin: auto;
  }

  &__logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
    width: 100%;

    @include tablet {
        width: 15%;
    }
  }

  &__logo {
    &--tablet {
      display: none;

      @include tablet {
        margin: 1rem 2rem;
        max-width: 9.375rem;
        display: flex;;
        padding: 0
      }
    }

    &--mobile {
      display: flex;
      margin: 1rem 2rem;
      max-width: 9.375rem;
      @include tablet {
        display: none;
      }
    }
  }

  &__menu {
    width: 1.5rem;
    @include tablet {
        display: none;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    @include tablet {
      align-items: center;
      justify-content: flex-end;
      flex-direction: row;
      margin-left: auto;
    }

    @include desktop {
      margin-left: 40rem;
      max-width: 80rem;
      width: auto;
    }
  }

  &__searchbar-container {
    padding: 0 1rem;
    width: 100%;

    @include tablet {
        margin-right: auto;
        width: 33.33%;
    }
  }

  &__search {
    padding: 0.5625rem 0.25rem 0.5625rem 2.5rem;
    background-color: $white; //change to variables
    border: 0.5px solid $grey1; //change to variables
    border-radius: 1rem;
    box-shadow: $grey2 0px 5px 5px 0px;
    display: block;
    background: url("../../assets/images/icons/search-24px.svg") no-repeat 13px;
    width: 100%;
    &:focus {
      outline: none;
      border: 2px solid $grey1;
    }
  }
  &__profile-settings {
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }

  &__edit-icon {
    display: none;

    @include tablet {
      display: flex;
      font-size: 1.2rem;
      margin-right: 0.3125rem;
    }
  }

  &__avatar {
    &--mobile {
      border-radius: 50%;
      object-fit: cover;
      width: 2rem;
      height: 2rem;
      margin: 1rem;
      display: none;
      display: flex;
      @include tablet {
        display: none;
      }
    }

    &--tablet {
      display: none;
      @include tablet {
        border-radius: 50%;
        object-fit: cover;
        width: 2rem;
        height: 2rem;
        display: none;
        display: flex;
      }
    }
  }
}
