@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/_mixins" as *;

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  margin: auto;

  @include tablet {
    max-width: 1280px;
    border: none;
    margin: auto;
  }

  @include desktop {
  }
  &__info {
    flex: 1;
  }
  &__info a {
    text-decoration: none;
    color: $blue2;
  }
  &__title {
    color: $blue1;
    margin: 0;
    margin-bottom: 5px;
  }
}
.search img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
  margin-left: 1rem;
  border-radius: 4px;
}
